@import "../../../styles.scss";

.nav-list {
  padding-right: 0.5em;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-container {
  @extend .flex-center;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - 70px);
  background-color: #e7b884;
}

.counter-section {
  @extend .flex-center;
  flex: 2;
  width: 100%;
  font-size: 13rem;
}

.bead-button {
  @extend .flex-center;
  font-size: 10rem;
  border: none;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  outline: 0;
  background-color: #d29757;
}

.bottom {
  @extend .flex-center;
  flex: 1;
  align-items: center;
  font-size: 2.3rem;
  flex-direction: column;
  gap: 1em;
}

.reset-button {
  font-size: 27px;
  background-color: #d29757;
  border: none;
  padding: 0.4em;
  outline: 0;
}

.decrement {
  width: 45px;
  padding: 0.4em;
  font-size: 27px;
  margin-left: 1em;
  outline: none;
  border: none;
  background-color: #d29757;
}

.reset-container {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .list-item {
      font-size: 24px;
      padding-bottom: 0.5rem;
    }
  }
}

:host {
  ::ng-deep .mat-icon {
    height: unset;
    width: unset;
    font-size: 2rem;
    color: black;
  }
}
