:root,
:host {
  --sys-background: #fff8f4;
  --sys-on-background: #211a14;
  --sys-surface: #fff8f4;
  --sys-surface-dim: #e6d7cd;
  --sys-surface-bright: #fff8f4;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #fff1e7;
  --sys-surface-container: #faebe0;
  --sys-surface-container-high: #f4e6da;
  --sys-surface-container-highest: #eee0d5;
  --sys-on-surface: #211a14;
  --sys-surface-variant: #f2dfd0;
  --sys-on-surface-variant: #50453a;
  --sys-inverse-surface: #372f28;
  --sys-inverse-on-surface: #fdeee3;
  --sys-outline: #837568;
  --sys-outline-variant: #d5c3b5;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #845317;
  --sys-primary: #845317;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #ffdcbc;
  --sys-on-primary-container: #2c1700;
  --sys-inverse-primary: #fbb974;
  --sys-secondary: #845317;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #ffdcbc;
  --sys-on-secondary-container: #2c1700;
  --sys-tertiary: #526526;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #d4ec9d;
  --sys-on-tertiary-container: #151f00;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #3b0907;
  --sys-neutral: #80756c;
  --sys-neutral-variant: #837569;
  --sys-primary-fixed: #ffdcbc;
  --sys-primary-fixed-dim: #fbb974;
  --sys-on-primary-fixed: #2c1700;
  --sys-on-primary-fixed-variant: #683d00;
  --sys-secondary-fixed: #ffdcbc;
  --sys-secondary-fixed-dim: #fbb974;
  --sys-on-secondary-fixed: #2c1700;
  --sys-on-secondary-fixed-variant: #683d00;
  --sys-tertiary-fixed: #d4ec9d;
  --sys-tertiary-fixed-dim: #b9cf84;
  --sys-on-tertiary-fixed: #151f00;
  --sys-on-tertiary-fixed-variant: #3b4d0f;
  --sys-inverse-secondary: #fbb974;
  --sys-inverse-tertiary: #b9cf84;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}

